@font-face {
    font-family:'Montserrat';
    src: url('../fonts/mont/Montserrat-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family:'Montserrat';
    src: url('../fonts/mont/Montserrat-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family:'Montserrat';
    src: url('../fonts/mont/Montserrat-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family:'Montserrat';
    src: url('../fonts/mont/Montserrat-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family:'Montserrat';
    src: url('../fonts/mont/Montserrat-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family:'HerrVonMuellerhoff';
    src: url('../fonts/HerrVonMuellerhoff-Regular.ttf');
    font-weight: 400;
}